{% extends "base/base.html" %}
{% load static %}
{% block start %}

<style>
    /* Table */
.table__body {
    overflow: auto;
    max-height: 70vh;
}

.table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0005;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

table {
    width: 100%;
}

table, th, td {
    padding: 1rem;
    border-collapse: collapse;
}

thead th {
    top: 0;
    left: 0;
}

tbody tr:nth-child(even) {
    background-color: #0002 !important;
}

tbody tr:hover{
    background-color: #0004 !important;
}


@media (max-width:1000px) {
    td:not(:first-of-type) {
        min-width: 12rem !important;
    }

}

.selected {
    background-color: aqua;
  }
</style>

<main class="container"> 

    <div class="container bangla-content mb-3">
        <div class="card">
            <div class="card-body">

                <div class="row">


                    <div class="col-md-12 my-3">
                        <div class="row">
                            <div class="col-md-6 p-2 text-success">
                                ALL STUDENTS
                            </div>
                            <div class="col-md-6">
                                <form>
                                    <select class='form-select' name='seasson' required onchange="getSeasson(this.value)">
                                        <option disabled {% if not student.presentEduSession %}selected{% endif %} value style="color: #0005 !important;"> Fileter with Seasson </option>
                                    
                                        {% for seasson in seassons %}
                                        <option value="{{ seasson.year }}" {% if selected_seasson == seasson.year %} selected {% endif %} >
                                            {{ seasson.year }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="table__body">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#Sr.</th>
                                        <th scope="col">Roll</th>
                                        <th scope="col" class="student_name">Name</th>
                                        <th scope="col">Seasson</th>
                                        <th scope="col">
                                            <input type="checkbox" id="selectAll">
                                            <label for="selectAll">Select All</label>
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in students %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <!-- <td></td> -->
                                         <td>
                                            <a href="{% url 'student' student.id %}"> {{ student.presentEduRoll }} </a>
                                         </td>
                                        <td>{{ student.name }}</td>
                                        <td>{{ student.presentEduSession.year }}</td>
                                        <td>
                                            <input type="checkbox" name="selection" value="{{ student.id }}" class="selection">
                                        </td>
                                        <td>
                                            <a href="{% url 'update' student.id %}" class="btn btn-outline-primary btn-sm me-1">
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </a>
                                            <a class="btn btn-outline-danger btn-sm" href="{% url 'delete_sel' student.id %}"> <i class="fa-solid fa-trash"></i> </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12 text-end">
                            <button type="submit" class="btn btn-outline-danger btn-sm"> <i class="fa-solid fa-trash"></i> Delete Selected Students</button>
                        </div>
                    </form>
                    
                </div>

            </div>
        </div>
    </div>
</main>

<script>
    function getSeasson(seasson) {
        if (seasson){
            var currentUrl = window.location.pathname;
            var params = new URLSearchParams(window.location.search);
            params.set('seasson', seasson);
            window.location.href = currentUrl + '?' + params.toString();
        }
    }

    // Function to handle the "Select All" checkbox
    document.getElementById('selectAll').addEventListener('change', function() {
        let isChecked = this.checked;
        let checkboxes = document.querySelectorAll('.selection');
        
        checkboxes.forEach(function(checkbox) {
            checkbox.checked = isChecked;
        });
    });

    // Function to handle individual selection checkboxes
    document.querySelectorAll('.selection').forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            let allChecked = true;
            let checkboxes = document.querySelectorAll('.selection');
            
            checkboxes.forEach(function(cb) {
                if (!cb.checked) {
                    allChecked = false;
                }
            });
            
            document.getElementById('selectAll').checked = allChecked;
        });
    });

</script>

{% endblock %}