{% extends "base/base.html" %}
{% load static %}
{% block start %}


<main class="container mb-3">
    
    <div class="container bangla-content">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-8 d-flex justify-content-center align-items-center">
                        <h4 class="text-center fs-6">
                            কারিগরি শিক্ষা অধিদপ্তর এর উপবৃত্তির জন্য শিক্ষার্থী আবেদন Search করুন ।
                        </h4>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <form class="needs-validation" novalidate method="post" action="#">

                                    {% csrf_token %}

                                    {% include "base/messages.html" %}

                                    <div class="row">
                                        
                                        <div class='mb-3 col-md-12'>

                                            <label class="form-label">
                                                
                                                    <span class="text-danger me-1">*</span>
                                                
                                                এসএসসি রোল
                                            </label>
                                        
                                            <input class='form-control' name='roll' required type='text' />
                                        
                                            <div class="invalid-feedback">রোল তথ্যটি দিন.
                                            </div>
                                        
                                        </div>
                                                            
                                        <div class='mb-3 col-md-12'>
                                        
                                            <label class="form-label">
                                                
                                                    <span class="text-danger me-1">*</span>
                                                
                                                অ্যাকাউন্ট নাম্বার
                                            </label>
                                        
                                            <input class='form-control' name='accountNumber' required type='text' />
                                        
                                            <div class="invalid-feedback">অ্যাকাউন্ট নাম্বার তথ্যটি দিন.
                                            </div>

                                        </div>

                                        <div class="col-12">
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}